/* Styling for list table */
table#listTable {
	border-collapse: collapse;
	width: 45%;
	border-spacing: 5em;
	border-bottom: 1pt solid black;
}

/* Styling for Task and Status top bar in table */
tr#top {
	font-weight: bold;
	border-bottom: 1pt solid black;
}